



.body{

    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-size: normal;

}


:root{

 --cor-de-fundo: #1bc41b;
 --verde:  #6FFF57;
 --letra-fundo: #1C56EA;



}

.conteúdo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.conteúdo-principal span{
    color: var(--cor-de-fundo);
}

.botao{
    font-size: 18px;
    padding: 1em;
    color: var(--letra-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 4px;
    border-left: 2px;
    border-right: 2px;
    border-top: none;
}